p {
	margin-top: .5em;
	margin-bottom: 1em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	position: relative;
	margin: 0 0 1em;
	background: $color__background-pre;
	padding: 1em 2em .5em 5em;
	font-style: italic;
	
	&:before {
		position: absolute;
		top: -.2em;
		left: -.13em;
		content: "“";
		font-family: $font__sans;
		font-size: 12em;
		line-height: 100%;
		color: white;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
