.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: $font__sans;
}

.cat-links {
	font-size: 90%;
	font-weight: 700;

	a {
		text-decoration: none;
		text-transform: uppercase;
		color: $color__interactive;

		&:focus,
		&:hover {
				background-color: $color__interactive;
				color:white;
		}
	}
}

.entry-title {
	margin: .125em 0 .25em;
	font-size: 2.5 em;

	@media screen and (min-width: $query__medium) {
		font-size: 3em;
	}

	a {
		text-decoration: none;
		color: black;

		&:focus,
		&:hover {
			border-bottom: 5px solid $color__interactive;
		}
	}
}

.entry-meta {
	font-size: 90%;

	a {
		font-weight: 700;
		text-decoration: none;
		color: black;
	}

	.comments-link,
	.author,
	.entry-date{
		&:focus,
		&:hover {
			color: black;
			border-bottom: 5px solid $color__interactive;
		}
	}
}

.byline {
	&::after {
		content: "|";
		margin: 0 .5em;
	}
}

.comments-link,
.edit-link {
	&::before {
		content: "|";
		margin: 0 .5em;
	}

}

.updated:not(.published) {
	display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */

.no-sidebar {

	entry-meta {
		margin-top: 1.5em;
	}

	@media screen and (min-width: $query__medium) {
		.post-content__wrap {
			
			.entry-meta {
				margin-top: 2.25em;
				font-size: 80%;

				a {
					font-size: 110%;
					display: block;
					border-bottom: 3px solid white;

					&:hover,
					&:focus {
						border-bottom-color: $color__interactive;
					}
				}
			}

			.byline,
			.posted-on,
			.comments-link,
			.edit-link {
				display: block;
				margin-bottom: 1em;

				&:before,
				&:after {
					margin: 0;
					content: "";
				}
			}
		}

		.extra {
			display: inline;
		}
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Single Post Featured Images */

.full-bleed {
	width: 100vw;
	max-height: 1200px;
	margin-top: 1em;
	margin-left: -1em;
	border-top: 1px solid hsl(0, 0%, 90%);
	border-bottom: 1px solid hsl(0, 0%, 90%);
	overflow: hidden;
	
	@media screen and (min-width: $query__small) {
		margin-left: -2em;
	}
	
	@media screen and (min-width: $query__medium) {
		margin-top: 1.5em;
		margin-right: -2em;
	}
	
	@media screen and (min-width: $size__max-width) {
		margin-right: calc( ((-100vw + #{$size__max-width})/2) - 2em );
		margin-left: calc( ((-100vw + #{$size__max-width})/2) - 2em );
	}
	img {
		display: block;
		margin: 0 auto;
	}
}

.entry-footer {
	margin: 1.5em 0;
	font-family: $font__sans;
}