.archive-view {
    background-color: #eee;

    .post {
        background: white;
    }

    .post__content {
        padding: 2em 2em 3em;
    }

    @media screen and (min-width: $query__medium) {
        &.has-sidebar {
            .site-content {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .content-area {
                width: $size__ratio-large;
            }

            .widget-area {
                width: $size__ratio-small;
            }
        }
    }
}