.site-content {
    padding: 1em;

    @media screen and (min-width: $query__small) {
        padding: 2em;
    }
}

.site-content {
    max-width: $size__max-width;
    margin: 0 auto;
}

@media screen and (min-width: $query__medium) {
    .single {
        &.has-sidebar {

            .hentry {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .entry-header {
                    width: 100%;
                    flex: 1 0 100%;
                }

                .post-content {
                    width: $size__ratio-large;
                }

                .widget-area {
                    width: $size__ratio-small;
                }
            }
        }
    }
}

@media screen and (min-width: $query__medium) {
.single {
    &.no-sidebar {

            .post-content__wrap {
                display: flex;
                justify-content: space-between;

                .entry-meta {
                    width: 20%;
                }

                .post-content__body {
                    width: 70%;
                }
            }
        }
    }
}