@charset "UTF-8";
/*!
Theme Name: Seven
Theme URI: https://bitbucket.org/benluv/paykings-wordpress-seven/src
Author: Benito Luongo
Author URI: https://bitbucket.org/benluv/paykings-wordpress-seven/src
Description: A theme called seven developed for PayKings interview located in Saint Petersburg Florida. This theme will be coded from the ground up with only using underscore which is a shell and starting point to develop your own themes.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: seven
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Seven is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
	line-height: 1.15;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
	margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
	box-sizing: content-box;
	/* 1 */
	height: 0;
	/* 1 */
	overflow: visible;
	/* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
	border-bottom: none;
	/* 1 */
	text-decoration: underline;
	/* 2 */
	text-decoration: underline dotted;
	/* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
	font-family: monospace, monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
	border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
	/* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #000;
	font-family: "Roboto Condensed", "Roboto", Georgia, Cambria, sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.5;
}

@media screen and (min-width: 700px) {
	body,
	button,
	input,
	select,
	optgroup,
	textarea {
		font-size: 20px;
		font-size: 1.25rem;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin-top: .75em;
	margin-bottom: .25em;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	clear: both;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.6em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.8em;
}

h6 {
	font-size: 1.6em;
}

p {
	margin-top: .5em;
	margin-bottom: 1em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	position: relative;
	margin: 0 0 1em;
	background: #eee;
	padding: 1em 2em .5em 5em;
	font-style: italic;
}

blockquote:before {
	position: absolute;
	top: -.2em;
	left: -.13em;
	content: "“";
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	font-size: 12em;
	line-height: 100%;
	color: white;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 18.75px;
	font-size: 1.17188rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 18.75px;
	font-size: 1.17188rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff;
	/* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: .5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}

thread th {
	border-bottom: 2px solid #bbb;
	padding-bottom: .5em;
}

td,
th {
	vertical-align: top;
}

th {
	padding: .4em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #eee;
}

td {
	padding: .4em;
}

th:first-child,
td:first-child {
	padding-left: 0;
}

th:last-child,
td:last-child {
	padding-right: 0;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: black;
	background: transparent;
	color: black;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1;
	padding: .5em 1em;
}

button:hover, button:active, button:focus,
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus {
	border: white;
	color: black;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover, a:focus, a:active {
	color: #b51c35;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

.page-content a,
.entry-content a,
.entry-summary a,
.comment-content a {
	text-decoration: none;
	border-bottom: 3px solid #b51c35;
}

.page-content a:focus, .page-content a:hover,
.entry-content a:focus,
.entry-content a:hover,
.entry-summary a:focus,
.entry-summary a:hover,
.comment-content a:focus,
.comment-content a:hover {
	color: #b51c35;
}

/*--------------------------------------------------------------
## Content Navigation
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation,
.paging-navigation {
	padding: 2em 0;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	text-align: left;
	overflow: hidden;
}

.comment-navigation a,
.posts-navigation a,
.post-navigation a,
.paging-navigation a {
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 1em;
	border: 1px solid #cccccc;
	color: black;
}

.comment-navigation a:hover, .comment-navigation a:focus,
.posts-navigation a:hover,
.posts-navigation a:focus,
.post-navigation a:hover,
.post-navigation a:focus,
.paging-navigation a:hover,
.paging-navigation a:focus {
	color: white;
	border-color: #b51c35;
	background: #b51c35;
}

.nav-links {
	margin: 0 auto;
	padding: 0 .4em;
}

.nav-previous {
	padding-bottom: 1em;
}

@media screen and (min-width: 900px) {
	.nav-links {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		    justify-content: space-between;
		-ms-flex-align: stretch;
		    align-items: stretch;
		padding: 0;
	}
	.comment-navigation .nav-previous,
	.comment-navigation .nav-next,
	.posts-navigation .nav-previous,
	.posts-navigation .nav-next,
	.post-navigation .nav-previous,
	.post-navigation .nav-next {
		float: left;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: stretch;
		    align-items: stretch;
		width: 48%;
	}
	.comment-navigation .nav-next,
	.posts-navigation .nav-next,
	.post-navigation .nav-next {
		float: right;
		text-align: right;
	}
	.nav-previous {
		padding-bottom: 0;
	}
}

.post-navigation .meta-nav {
	display: block;
}

@media screen and (min-width: 30em) {
	.post-navigation {
		padding-bottom: 1em;
	}
}

.post-navigation .post-title {
	font-size: 1.2em;
	font-weight: 700;
	border-bottom: 3px solid #b51c35;
}

.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title {
	border-bottom-color: white;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #000;
	display: block;
	font-size: 17.5px;
	font-size: 1.09375rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Global layouts
--------------------------------------------------------------*/
.site-content {
	padding: 1em;
}

@media screen and (min-width: 600px) {
	.site-content {
		padding: 2em;
	}
}

.site-content {
	max-width: 1080px;
	margin: 0 auto;
}

@media screen and (min-width: 900px) {
	.single.has-sidebar .hentry {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.single.has-sidebar .hentry .entry-header {
		width: 100%;
		-ms-flex: 1 0 100%;
		    flex: 1 0 100%;
	}
	.single.has-sidebar .hentry .post-content {
		width: 60%;
	}
	.single.has-sidebar .hentry .widget-area {
		width: 30%;
	}
}

@media screen and (min-width: 900px) {
	.single.no-sidebar .post-content__wrap {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.single.no-sidebar .post-content__wrap .entry-meta {
		width: 20%;
	}
	.single.no-sidebar .post-content__wrap .post-content__body {
		width: 70%;
	}
}

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
.archive-view {
	background-color: #eee;
}

.archive-view .post {
	background: white;
}

.archive-view .post__content {
	padding: 2em 2em 3em;
}

@media screen and (min-width: 900px) {
	.archive-view.has-sidebar .site-content {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		    justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.archive-view.has-sidebar .content-area {
		width: 60%;
	}
	.archive-view.has-sidebar .widget-area {
		width: 30%;
	}
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header-image {
	max-height: 60vh;
	overflow: hidden;
}

.header-image img {
	display: block;
	width: 100vw;
}

.site-header {
	position: relative;
	padding: 1em;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	color: #fff;
	background-color: #002254;
}

@media screen and (min-width: 600px) {
	.site-header {
		padding: 1em 2em;
	}
}

.site-branding {
	display: -ms-flexbox;
	display: flex;
	min-height: 65px;
}

.custom-logo-link {
	margin-right: 1em;
}

.custom-logo-link img {
	display: block;
	height: 65px;
	width: auto;
}

.site-branding__text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-pack: center;
	    justify-content: center;
	height: 65px;
}

.site-title {
	margin: 0;
	padding: 0;
	font-size: 1.6em;
	font-weight: 900;
	line-height: 1em;
}

.site-title a {
	color: white;
	text-decoration: none;
}

.site-title a:hover, .site-title a:focus {
	text-decoration: underline;
}

.site-description {
	margin: 0;
	font-size: .9em;
	font-style: italic;
	font-weight: 100;
}

@media screen and (min-width: 900px) {
	.site-header {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		    justify-content: space-between;
	}
	.site-branding {
		width: 35%;
		-ms-flex: 1 0 auto;
		    flex: 1 0 auto;
	}
	.site-navigation {
		width: 55%;
	}
}

.main-navigation {
	display: block;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	font-weight: 400;
	clear: left;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-top: 1em;
	padding-left: 0;
}

.main-navigation ul ul {
	display: none;
	top: 1.5em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	top: 0;
}

.main-navigation ul ul li {
	padding-left: 1em;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: inline-block;
	width: 100%;
	padding: .5em 1em .5em 0;
	text-decoration: none;
	color: #fff;
}

.main-navigation a:hover,
.main-navigation a:focus {
	text-decoration: underline;
}

.main-navigation .menu-item-has-children,
.main-navigation .page-item-has-children {
	min-width: 218px;
}

.main-navigation .menu-item-has-children > a,
.main-navigation .page_item_has_children > a {
	padding-right: 2em;
}

button.dropdown-toggle {
	position: absolute;
	right: 0;
	border: none;
	background: inherit;
	color: white;
	line-height: 1.5em;
	padding: .4em 1em .4em .5em;
}

.menu-toggle {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	margin: 1.2em 1.2em 0 0;
	padding: .6em .8em;
	font-size: 80%;
	text-transform: uppercase;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Toggle small menu and sub-menus on */
.toggled-on ul,
.sub-menu.toggled-on {
	display: block;
}

@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation .menu-item-has-children > a,
	.main-navigation .page_item_has_children > a {
		padding-right: 2em;
		background: rgba(255, 255, 255, 0.1);
	}
	.main-navigation ul {
		display: block;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.main-navigation ul ul {
		-ms-flex-direction: column;
		    flex-direction: column;
		background: rgba(255, 255, 255, 0.1);
		margin-left: 0;
	}
	.main-navigation ul ul li {
		padding-left: 0;
	}
	.main-navigation ul ul li a {
		width: 218px;
		background: none;
	}
	.main-navigation ul li a {
		padding: .4em 1em;
	}
}

@media screen and (min-width: 900px) {
	.main-navigation ul {
		-ms-flex-pack: end;
		    justify-content: flex-end;
		padding-top: 0;
	}
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: "Roboto", Georgia, Cambria, sans-serif;
}

.cat-links {
	font-size: 90%;
	font-weight: 700;
}

.cat-links a {
	text-decoration: none;
	text-transform: uppercase;
	color: #b51c35;
}

.cat-links a:focus, .cat-links a:hover {
	background-color: #b51c35;
	color: white;
}

.entry-title {
	margin: .125em 0 .25em;
	font-size: 2.5 em;
}

@media screen and (min-width: 900px) {
	.entry-title {
		font-size: 3em;
	}
}

.entry-title a {
	text-decoration: none;
	color: black;
}

.entry-title a:focus, .entry-title a:hover {
	border-bottom: 5px solid #b51c35;
}

.entry-meta {
	font-size: 90%;
}

.entry-meta a {
	font-weight: 700;
	text-decoration: none;
	color: black;
}

.entry-meta .comments-link:focus, .entry-meta .comments-link:hover,
.entry-meta .author:focus,
.entry-meta .author:hover,
.entry-meta .entry-date:focus,
.entry-meta .entry-date:hover {
	color: black;
	border-bottom: 5px solid #b51c35;
}

.byline::after {
	content: "|";
	margin: 0 .5em;
}

.comments-link::before,
.edit-link::before {
	content: "|";
	margin: 0 .5em;
}

.updated:not(.published) {
	display: none;
}

/* Custom Post Meta rules for single post / no sidebar. */
.no-sidebar entry-meta {
	margin-top: 1.5em;
}

@media screen and (min-width: 900px) {
	.no-sidebar .post-content__wrap .entry-meta {
		margin-top: 2.25em;
		font-size: 80%;
	}
	.no-sidebar .post-content__wrap .entry-meta a {
		font-size: 110%;
		display: block;
		border-bottom: 3px solid white;
	}
	.no-sidebar .post-content__wrap .entry-meta a:hover, .no-sidebar .post-content__wrap .entry-meta a:focus {
		border-bottom-color: #b51c35;
	}
	.no-sidebar .post-content__wrap .byline,
	.no-sidebar .post-content__wrap .posted-on,
	.no-sidebar .post-content__wrap .comments-link,
	.no-sidebar .post-content__wrap .edit-link {
		display: block;
		margin-bottom: 1em;
	}
	.no-sidebar .post-content__wrap .byline:before, .no-sidebar .post-content__wrap .byline:after,
	.no-sidebar .post-content__wrap .posted-on:before,
	.no-sidebar .post-content__wrap .posted-on:after,
	.no-sidebar .post-content__wrap .comments-link:before,
	.no-sidebar .post-content__wrap .comments-link:after,
	.no-sidebar .post-content__wrap .edit-link:before,
	.no-sidebar .post-content__wrap .edit-link:after {
		margin: 0;
		content: "";
	}
	.no-sidebar .extra {
		display: inline;
	}
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Single Post Featured Images */
.full-bleed {
	width: 100vw;
	max-height: 1200px;
	margin-top: 1em;
	margin-left: -1em;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	overflow: hidden;
}

@media screen and (min-width: 600px) {
	.full-bleed {
		margin-left: -2em;
	}
}

@media screen and (min-width: 900px) {
	.full-bleed {
		margin-top: 1.5em;
		margin-right: -2em;
	}
}

@media screen and (min-width: 1080px) {
	.full-bleed {
		margin-right: calc( ((-100vw + 1080px)/2) - 2em);
		margin-left: calc( ((-100vw + 1080px)/2) - 2em);
	}
}

.full-bleed img {
	display: block;
	margin: 0 auto;
}

.entry-footer {
	margin: 1.5em 0;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	width: 100%;
	margin: 3em 0;
	padding: 1.5em 0;
	border-top: 1px solid #cccccc;
}

.comments-title {
	margin-bottom: 2em;
	font-size: 2.5em;
	font-weight: 900;
}

.comment-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.comment-list ol {
	list-style-type: none;
}

.comment-body {
	border-bottom: 1px solid #c3c3c3;
	margin-bottom: 3em;
}

.comment-meta {
	position: relative;
	margin-left: 70px;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	font-size: 80%;
}

.comment-meta a,
.comment-form a {
	text-decoration: none;
	border: none;
}

.comment-meta a:hover, .comment-meta a:focus,
.comment-form a:hover,
.comment-form a:focus {
	text-decoration: underline;
}

.comment .avatar {
	position: absolute;
	top: -5px;
	left: -70px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.children {
	margin-left: 1em;
	padding-left: 0;
}

@media screen and (min-width: 900px) {
	.children {
		margin-left: 2em;
	}
}

@media screen and (min-width: 900px) {
	.no-sidebar .children {
		margin-left: 2em;
	}
	.no-sidebar .children .comment-meta {
		margin-left: 80px;
		font-size: 90%;
	}
	.no-sidebar .children .comment .avatar {
		top: -7px;
		left: -80px;
		width: 60px;
		height: 60px;
	}
	.no-sidebar .children .comment-content {
		margin-left: 80px;
	}
}

@media screen and (min-width: 1080px) {
	.no-sidebar .children {
		margin-left: 3em;
	}
	.no-sidebar .comment-meta {
		margin-left: 90px;
	}
	.no-sidebar .comment .avatar {
		top: -8px;
		left: -90px;
		width: 70px;
		height: 70px;
	}
	.no-sidebar .comment-content {
		margin-left: 90px;
	}
}

.comment-metadata {
	margin-top: .2em;
	padding-bottom: .5em;
	font-size: .8em;
	line-height: 1em;
}

.comment-metadata a {
	color: #7D7D7D;
}

.comment-metadata a:hover, .comment-metadata a:focus {
	border-color: #c3c3c3;
}

.comment-author {
	font-size: 1.4em;
	line-height: 1.3em;
}

.says {
	font-size: 80%;
}

.reply {
	margin-bottom: 1.5em;
	text-align: right;
}

.reply a {
	display: inline-block;
	padding: .5em 1.4em;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	font-size: 85%;
	color: #000;
	line-height: 1.3em;
	text-decoration: none;
	border: 1px solid #c3c3c3;
}

.reply a:hover, .reply a:focus {
	color: #fff;
	background: #b51c35;
	border-color: #b51c35;
}

.comment-content ol {
	list-style-type: decimal;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor .avatar {
	box-sizing: content-box;
	border: 5px solid #b51c35;
	margin-top: -5px;
	margin-left: -5px;
}

/* For comments awaiting moderation*/
.comment-awaiting-moderation {
	background-color: #f2f2ac;
	border-radius: 15%;
	text-align: center;
}

/* Comment Form */
.comment-reply-title {
	margin-bottom: 1em;
}

.comment-list .comment-reply-title {
	text-align: left;
}

.comment-form {
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	line-height: 1.3em;
}

.comment-form a {
	font-weight: 500;
}

.comment-form .form-submit {
	text-align: right;
}

.comment-form .form-submit input {
	padding: .5em 1.4em;
	font-size: 85%;
	color: #000;
	line-height: 1.3em;
	text-decoration: none;
	border: 1px solid #c3c3c3;
}

.comment-form .form-submit input:hover, .comment-form .form-submit input:focus {
	color: #fff;
	background: #b51c35;
	border-color: #b51c35;
}

.comment-form label {
	width: 33%;
	display: block;
	font-style: italic;
	padding-bottom: .4em;
}

.comment-form .required {
	color: #D54E21;
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.site-footer {
	position: relative;
	padding: 1em;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	color: #fff;
	background-color: #002254;
	text-align: center;
}

@media screen and (min-width: 600px) {
	.site-footer {
		padding: 1em 2em;
	}
}

.social-menu ul {
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	-ms-flex-pack: center;
	    justify-content: center;
	margin: 0;
	padding: 0;
}

.social-menu ul a {
	display: block;
	padding: .5em 1em;
	color: white;
	text-decoration: none;
}

.social-menu ul a:hover, .social-menu ul a:focus {
	text-decoration: underline;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 2em;
	max-width: 100%;
	font-family: "Roboto", Georgia, Cambria, sans-serif;
	font-size: 75%;
	color: #666666;
	text-align: center;
}

.wp-caption a {
	color: inherit;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: .5em 0 1.5em 1em;
}

@media screen and (min-width: 600px) {
	.wp-caption .wp-caption-text {
		margin-left: 2em;
	}
}

@media screen and (min-width: 900px) {
	.wp-caption .wp-caption-text {
		margin-left: 0;
	}
}

/*--------------------------------------------------------------
## Images
--------------------------------------------------------------*/
.wp-caption.aligncenter,
.centered-image {
	max-width: 100vw;
	margin: 0 -1em;
}

@media screen and (min-width: 600px) {
	.wp-caption.aligncenter,
	.centered-image {
		margin: 0 -2em;
	}
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/*# sourceMappingURL=../seven/sass/maps/style.css.map */
